body {
  background-color: #000000;
}

#resume {
  background-color: #000000;
}

p, a, h1, h2, h3, h4, h5, h6, span {
  color: #ffffff;
}

#dark-mode-button {
  background-color: #000000;
  border: 4px solid #ffffff;
}

#med-mode-button {
  background-color: #151F27;
  border: 4px solid #000000;
}

#med-mode-button:hover {
  border-color: #666666;
}

#light-mode-button {
  background-color: #ffffff;
  border: 4px solid #000000;
}

#light-mode-button:hover {
  border-color: #666666;
}

.portfolio-container {
  border-left: 4px solid #ffffff;
}

.portfolio-dot {
  border: 4px solid #ffffff;
  background-color: #000000;
}

.side-nav-button {
  border-left-color: #ffffff;
}

.home-nav-items a span {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  text-shadow:
    -1px 1px #000000,
    1px -1px #000000,
    -1px -1px #000000,
    1px 1px #000000;
}

.home-nav-items a:hover span {
  border-bottom-color: rgba(255, 255, 255, 1);
}