body {
  background-color: #000000;
}

#resume {
  background-color: #000000;
}

p, a, h1, h2, h3, h4, h5, h6, span {
  color: #ffffff;
}

#dark-mode-button {
  background-color: #000000;
  border: 4px solid #ffffff;
}

#med-mode-button {
  background-color: #151F27;
  border: 4px solid #000000;
}

#light-mode-button {
  background-color: #ffffff;
  border: 4px solid #000000;
}

.portfolio-container {
  border-left: 4px solid #ffffff;
}

.portfolio-dot {
  border: 4px solid #ffffff;
  background-color: #000000;
}