@media screen and (min-width: 1000px) {
  #content {
    padding-left: 10%;
    padding-right: 10%;
  }

  h1.home-main-header {
    font-size: 11vw;
    margin-bottom: -2vw;
  }

  a.home-email {
    font-size: 1.5vw;
  }

  h6.home-subitem {
    font-size: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .home-nav-items div {
    font-size: 22px;
  }

  .home-nav-items img {
    height: 1.8vw;
  }

  .side-nav-button {
    right: 10px;
    padding-right: 5px;
  }

  .portfolio-nav-button {
    bottom: 10px;
  }

  .portfolio-item {
    padding-left: 2em;
    padding-right: 2em;
  }

  .portfolio-dot {
    transform: translate(calc(-50% - 2em - 2px), 0);
  }
}
