body.med_theme{
  background-color: #151F27;
}

.med_theme #resume {
  background-color: #151F27;
}

.med_theme p, .med_theme a, .med_theme h1, .med_theme h2, .med_theme h3, .med_theme h4, .med_theme h5, .med_theme h6, .med_theme span {
  color: #ffffff;
}

.med_theme #dark-mode-button {
  background-color: #000000;
  border: 4px solid #151F27;
}

.med_theme #med-mode-button {
  background-color: #151F27;
  border: 4px solid #ffffff;
}

.med_theme #light-mode-button {
  background-color: #ffffff;
  border: 4px solid #151F27;
}

.med_theme .portfolio-container {
  border-left: 4px solid #ffffff;
}

.med_theme .portfolio-dot {
  border: 4px solid #ffffff;
  background-color: #151F27;
}

.med_theme .side-nav-button {
  border-left-color: #ffffff;
}